@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "ss01", "ss02";
}

::selection {
  background: #000;
  color: #fff;
}
